<h1><%= title %></h1>
<form action="" method="post">
  <div class="form-group">
    <label for="title">Title:</label>
    <input
      type="text"
      id="title"
      class="form-control"
      name="title"
      placeholder="Name of book.."
      required
      value='<%= book === undefined ? "" : book.title %>'
    />
  </div>
  <div class="form-group">
    <label for="author">Author:</label>
    <select
      name="author"
      id="author"
      class="form-control"
      aria-placeholder="Select author.."
      required
    >
      <% authors.sort(function(a, b) { let textA = a.family_name.toUpperCase();
      let textB = b.family_name.toUpperCase(); return (textA < textB) ? -1 :
      (textA > textB) ? 1 : 0; }); authors.forEach(author => { if (book) { %>
      <option
        value="<%=author._id %>"
        selected="<%= author._id.toString()===book.author._id.toString() ? 'selected' : false %>"
      >
        <%= author.name %>
      </option>
      <% } else { %>
      <option value="<%= author._id %>"><%= author.name %></option>
      <% }}) ; %>
    </select>
  </div>
  <div class="form-group">
    <label for="summary">Summary:</label>
    <textarea
      name="summary"
      placeholder="Summary..."
      required
      id="summary"
      cols="30"
      rows="10"
      class="form-control"
    >
      <%= book === undefined ? '' : book.summary %>
    </textarea>
  </div>
  <div class="form-group">
    <label for="isbn">ISBN:</label>
    <input
      type="text"
      id="isbn"
      name="isbn"
      class="form-control"
      placeholder="ISBN13"
      required
      value="<%= book && book.isbn %>"
    />
  </div>
  <div class="form-group">
    <label>Genre:</label>
    <div>
      <% genres.forEach(genre => { %>
      <div style="display: inline; padding-right: 10px">
        <input type="checkbox" class="checkbox-input" id="<%= genre._id %>"
        name="genre" value="<%= genre._id %>" <%= genre.checked === 'true' ?
        'checked' : '' %> />
        <label for="<%= genre._id %>"><%= genre.name %></label>
      </div>
      <% }) %>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<% if (errors) { %>
<ul>
  <% errors.forEach(error => { %>
  <li><%= error.msg %></li>
  <% }) %>
</ul>
<% } %>
